body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#btnSair{
  background-color: red;
  color: black;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form {
  padding: 15px;
  border: 1px solid #ddd;
  width: 300px;
  margin-bottom: 20px;
}

form input {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  padding: 5px;
}

#lista div {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}