.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0008;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}